<!--<template>-->
    <!--<div>-->
        <!--<div class="datepicker-trigger">-->
            <!--<input-->
                    <!--type="text"-->
                    <!--id="datepicker-trigger"-->
                    <!--placeholder="Select dates"-->
                    <!--:value="formatDates(dateOne, dateTwo)"-->
            <!--&gt;-->

            <!--<AirbnbStyleDatepicker-->
                    <!--:trigger-element-id="'datepicker-trigger'"-->
                    <!--:mode="'range'"-->
                    <!--:fullscreen-mobile="true"-->
                    <!--:date-one="dateOne"-->
                    <!--:date-two="dateTwo"-->
                    <!--@date-one-selected="val => { dateOne = val }"-->
                    <!--@date-two-selected="val => { dateTwo = val }"-->
            <!--/>-->
        <!--</div>-->
    <!--</div>-->
<!--</template>-->

<!--<script>-->
    <!--import format from 'date-fns/format';-->
    <!--import Vue from 'vue'-->
    <!--import App from './App.vue'-->
    <!--import AirbnbStyleDatepicker from 'vue-airbnb-style-datepicker'-->
    <!--import 'vue-airbnb-style-datepicker/dist/styles.css'-->


    <!--Vue.use(AirBnbStyleDatepicker, {-->
        <!--sundayFirst: false,-->
        <!--days: ['Måndag', 'Tisdag', 'Onsdag', 'Torsdag', 'Fredag', 'Lördag', 'Söndag'],-->
        <!--daysShort: ['Mån', 'Tis', 'Ons', 'Tors', 'Fre', 'Lör', 'Sön'],-->
        <!--monthNames: [-->
            <!--'Januari',-->
            <!--'Februari',-->
            <!--'Mars',-->
            <!--'April',-->
            <!--'Maj',-->
            <!--'Juni',-->
            <!--'Juli',-->
            <!--'Augusti',-->
            <!--'September',-->
            <!--'Oktober',-->
            <!--'November',-->
            <!--'December'-->
        <!--],-->
        <!--colors: {-->
            <!--selected: '#00a699',-->
            <!--inRange: '#66e2da',-->
            <!--selectedText: '#fff',-->
            <!--text: '#565a5c',-->
            <!--inRangeBorder: '#33dacd'-->
        <!--},-->
        <!--texts: {-->
            <!--apply: 'Tillämpa',-->
            <!--cancel: 'Avbryt'-->
        <!--}-->
    <!--});-->

    <!--export default {-->
        <!--data() {-->
            <!--return {-->
                <!--dateFormat: 'D MMM',-->
                <!--dateOne: '',-->
                <!--dateTwo: ''-->
            <!--}-->
        <!--},-->
        <!--methods: {-->
            <!--formatDates(dateOne, dateTwo) {-->
                <!--let formattedDates = ''-->
                <!--if (dateOne) {-->
                    <!--formattedDates = format(dateOne, this.dateFormat)-->
                <!--}-->
                <!--if (dateTwo) {-->
                    <!--formattedDates += ' - ' + format(dateTwo, this.dateFormat)-->
                <!--}-->
                <!--return formattedDates-->
            <!--}-->
        <!--}-->
    <!--}-->
<!--</script>-->