<style>

    #footer {
        background: #eee;
        position: relative;
        bottom: 0;
        width: 100%;
    }

    p {
        bottom: 8px;
        right: 16px;
        font-size: 18px;
    }

</style>

<template>
    <footer>
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container" style="font-size: .8em">
                <p class="navbar-text">
                    &copy; Some info
                </p>
            </div>
        </div>
    </footer>
    <!--<div id="footer">
    Created by: Darius Eičinas
    <br>
    Recomended by: Darius Eičinas
    <p>Contact information: +3706betkoksskaicius783
    <a>e.darius@darius.e</a></p>
    </div>-->
</template>
<script>
    export default {
        name: 'footer'
    }
</script>