<template >
    <!-- Brand -->
    <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('brand') }}</label>
        <div class="col-md-7">
            <!--<input v-model="form.brand" type="text" name="brand" class="form-control">-->
            <v-select :value.sync="selected" :options="options.brand"></v-select>
        </div>
    </div>
</template>

<script>
    export default {
        name: "input",

    }
</script>

<style scoped>

</style>