<template>
    <div class="container">
        <div v-for="car in cars">
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">

                    <router-link :to="{path: 'car/'  }">
                        <img src="/storage/car.jpg" class="img-responsive">
                    </router-link>

                    <div class="caption">
                        <h4 class="pull-right">Kaina: {{car.day_price}} €</h4>
                        <h4><a href="/cars">{{car.id}}</a>
                        </h4>
                        <p>Markė: {{car.brand}}</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">12 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import axios from 'axios';

    export default {

        data() {
            return {
                cars: []
            }
        },

        created() {
            axios.get('/api/cars')
                .then(({data}) => this.cars = data)
        },

    }

</script>