<style>


    .color1 {
        background-color: #c9c9c9;
    }

    .color2 {
        background-color: #e3e3e3;
    }

    .color3 {
        background-color: #9ad3de
    }

    .color4 {
        background-color: #89bdd3
    }


    li.filterTitle {
        border-color: #e3e3e3;
        border-radius: 2px;
        background-color: #9ad3de;
    }

    li.filter {
        border-color: #e3e3e3;
        background-color: white;

    }
    .cars {
        border-color: #e3e3e3;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 2px;
        background-color: white;
    }

</style>
<template>
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <ul class="list-group row  col-lg-12 col-md-12 col-ms-12 col-xs-12  ">
                    <li class="list-group-item  filterTitle">Filtrai</li>

                    <li class="list-group-item  filter ">Markė:
                        <select @change="filter" v-model="filters.brand">
                            <option :value="null" selected>Visi</option>
                            <option value="Ford">Ford</option>
                            <option value="Opel">Opel</option>
                            <option value="Audi">Audi</option>
                        </select>
                    </li>

                    <li class="list-group-item   filter">Modelis:

                        <select @change="filter" v-model="filters.model">
                            <option :value="null" selected>Visi</option>
                            <option value="Camry">Camry</option>
                            <option value="Accord">Accord</option>
                        </select>

                    </li>
                    <li class="list-group-item  filter">Metai:
                        <select @change="filter" v-model="filters.years">
                            <option :value="null" selected>Visi</option>
                            <option value="1990">1990</option>
                            <option value="2000">2000</option>
                        </select>
                    </li>

                    <li class="list-group-item filter">Pavarų dėžė:
                        <select @change="filter" v-model="filters.gearbox">
                            <option :value="null" selected>Visi</option>
                            <option value="Auto">Automatinė</option>
                            <option value="Manual">Mechaninė</option>
                        </select>
                    </li>
                    <li class="list-group-item filter">Spalva:
                        <select @change="filter" v-model="filters.color">
                            <option :value="null" selected>Visi</option>
                            <option value="Red">Raudona</option>
                            <option value="Black">Juoda</option>
                        </select>
                    </li>

                    <li class="list-group-item filter">Kuro rūšis:
                        <select @change="filter" v-model="filters.fuels">
                            <option :value="null" selected>Visi</option>
                            <option value="Diesel">Dyzelinas</option>
                            <option value="Petrol">Benzinas</option>
                            <option value="Gas">Dujos</option>
                            <option value="Electric">Elektra</option>

                        </select>
                    </li>
                </ul>

            </div>
            <div class="col-lg-9 col-md-9 col-ms-9 col-xs-9">
                <div class="row">

                    <div class="color3 col-md-12">
                        <h5>Iš viso: {{ total }} </h5>
                    </div>
                </div>


                <!--<vue-paginate-al :currentPage="page" :totalPage="totalPages" :perPage="perPage" :myData="cars"-->
                <!--@btnClick="goToFuncWithData"></vue-paginate-al>-->

                <div class="row list-group-item  cars " v-for="car in cars">
                    <div class="cars">
                        <router-link :to="'car/'+ car.id" style="color: black; ">
                            <div class="col-md-3 ">
                                <figure class="pull-left ">


                                    <img class="col-md-12" :src="'/storage/' + car.img" alt="No picture"
                                         width="320"
                                         height="auto">
                                </figure>
                            </div>

                            <div class="col-lg-6 col-md-6 col-ms-6 col-xs-6 ">
                                <h4 class="list-group-item-heading"> {{ car.brand }} {{ car.model }} </h4>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-ms-6 col-xs-6">
                                        <table class="w3-table-all">
                                            <tbody>
                                            <tr>
                                                <td></td>
                                                <th>
                                                    <h5>Dienos Kaina: </h5><h3> {{car.day_price}} €
                                                </h3>

                                                </th>
                                            </tr>
                                            <!--<tr>
                                                <th>Car Price</th>
                                                <td>{{car.car_price}} €</td>
                                            </tr>-->

                                            <!--<tr>
                                                <th>Gearbox </th>
                                                <td>{{car.gearbox}}</td>
                                            </tr>-->
                                            <!--<tr>
                                                <th>Consumption</th>
                                                <td>{{car.consumption}} l/km</td>
                                            </tr>-->
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-ms-6 col-xs-6">
                                        <table class="w3-table-all ">
                                            <tbody>
                                            <!--<tr>-->
                                                <!--<td>Metai:</td>-->
                                                <!--<th>{{car.years}}</th>-->
                                            <!--</tr>-->
                                            <tr>
                                                <td>Pavarų dėžė:</td>
                                                <th>{{car.gearbox}}</th>
                                            </tr>
                                            <!--<tr>
                                                <th>Run </th>
                                                <td>{{car.rida}} km</td>
                                            </tr>-->
                                            <tr>
                                                <td>Kuro rūšis:</td>
                                                <th>{{car.fuels}}</th>
                                            </tr>
                                            <!-- <tr>
                                                 <th>Color </th>
                                                 <td>{{car.color}}</td>
                                             </tr>-->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 text-center">

                            </div>
                        </router-link>
                    </div>
                </div>
                <vue-paginate-al :currentPage="page" :totalPage="totalPages" :perPage="perPage" :myData="cars"
                                 @btnClick="goToFuncWithData"
                                 nextText="Toliau"
                                 prevText="Atgal"
                />
            </div>
        </div>
    </div>


</template>

<script>
    import Vue from 'vue';
    import axios from 'axios';
    import vSelect from 'vue-select';
    import VuePaginateAl from 'vue-paginate-al';

    Vue.component('vue-paginate-al', VuePaginateAl);

    export default {

        components: {
            vSelect,
            VuePaginateAl
        },

        metaInfo() {
            return {title: this.$t('home')}
        },

        created() {
            this.getItems();
        },

        /*beforeRouteUpdate() {
            console.log('asdasd');
            this.getItems()
        },*/

        data() {
            return {
                cars: [],

                page: 1,
                //currentPage: 1,
                totalPages: 1,
                perPage: 0,
                total: 0,

                options: {
                    brand: [
                        'Ford',
                        'opel'
                    ]
                },
                filters: {
                    brand: null,
                    model: null,
                    years: null,
                    gearbox: null,
                    color: null,
                    fuels: null,
                },
                selectedO: null,
            }
        },

        watch: {},


        methods: {

            goToFuncWithData: function (n) {
//                console.log(pages);

                this.page = n;
                this.getItems();
            },

            getItems() {
                const options = {
                    params: {
                        /* brand: this.filters.brand,
                         model: this.filters.model,
                         years: this.filters.years,
                         gearbox: this.filters.gearbox,
                         color: this.filters.color,
                         fuels: this.filters.fuels,*/
                        ...this.$route.query,

                        page: this.page,
                    }
                };
                axios.get('/api/home', options)
                    .then(({data}) => {
                        this.cars = data.data;
                        // console.log(data);
                        this.totalPages = data.last_page;
                        this.perPage = data.per_page;
                        this.total = data.total;
//                        this.props.currentPage = data.current_page;
                    })
                    .catch(err => console.log(err))
            },

            filter() {
                this.page = 1;
                this.$router.push({query: {...this.filters, page: this.page}});
                console.log(this.$router);
                this.getItems();
            },
        },
    }
</script>
