<style>
    .image {
        margin-top: 40px;
        width: 320px;
        height: auto;
    }

    .calendar {
        border: 2px solid #000;
        border-radius: 0.5em;
        padding: 0.5em;
    }

    .color1 {
        background-color: #c9c9c9;
    }

    .color2 {
        background-color: #e3e3e3;
    }

    .color3 {
        background-color: #9ad3de
    }

    .color4 {
        background-color: #89bdd3
    }

    .title {
        background-color: #9ad3de;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        font-size: 20px;
        /*font-weight: bold;*/
        color: white;
    }

    .reservation {
        margin-top: 40px;
        background-color:  #e3e3e3;
        color: black;
        padding: 10px;
        border-radius: 2px;
    }
</style>
<template>
    <div class="container">

        <div class="col-md-12">
            <div class="row">
                <span class="title">Automobilio informacija</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 ">
                                <img class="image" :src="'/storage/' + car.img">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"></div>

                            <div class="col-md-4 align-items-center">
                                <router-link :to="'/car/'+car.id+'/reservation'">
                                    <button  class="reservation" type="submit">Rezervuoti
                                    </button>
                                </router-link>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class="col-md-8">

                        <h1>{{car.brand}} {{ car.model }}</h1>
                        <table class="table">
                            <thead>

                            </thead>
                            <tbody>
                            <tr>
                                <th>Dienos kaina</th>
                                <td>{{car.day_price}} €</td>
                            </tr>
                            <tr>
                                <th>Pavarų dėžė</th>
                                <td>{{car.gearbox}}</td>
                            </tr>
                            <tr>
                                <th>Degalų sanaudos (l/km)</th>
                                <td>{{car.consumption}}</td>
                            </tr>
                            <tr>
                                <th>Metai</th>
                                <td>{{car.years}}</td>
                            </tr>
                            <tr>
                                <th>Rida (km)</th>
                                <td>{{car.run}}</td>
                            </tr>
                            <tr>
                                <th>Kuro tipas</th>
                                <td>{{car.fuels}}</td>
                            </tr>
                            <tr>
                                <th>Spalva</th>
                                <td>{{car.color}}</td>
                            </tr>
                            <tr>
                                <th>Aprašymas</th>
                                <td>{{car.description}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
            </div>

        </div>
        <div class="row">

            <div style="margin-bottom: 20cm"></div>
        </div>
    </div>

</template>
<script>

    import axios from 'axios';
    import Datepicker from 'vuejs-datepicker';

    export default {
        components: {
            Datepicker
        },

        data: () => ({
            car: [],
        }),

        created() {
            axios.get('/api/car/' + this.$route.params.id)
                .then(({data}) => this.car = data)
                .then(response => {
                    console.log(response)
                })
                .catch(error => {
                    console.log(error.response)
                });
        },

        methods: {}
    }
</script>