<Style>
    .color1 {
        background-color: #c9c9c9;
    }

    .color2 {
        background-color: #e3e3e3;
    }

    .color3 {
        background-color: #9ad3de
    }

    .color4 {
        background-color: #89bdd3
    }
    .title {
        background-color: #9ad3de;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        font-size: 20px;
        /*font-weight: bold;*/
        color: white;
    }
    .info {
        padding: 20px;
        width: auto;
        background-color: #3fc3ee;


    }
</Style>

<template>
    <div class="container">


        <div class="col-md-12">
            <div class="row">
                <span class="title">Rezervacijos infromacija</span>
            </div>
            <div class="row">
                <span class="info">Su jumis bus susisiekta nurodytu el. paštu</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">

                    <h1>{{reservation.first_name}} {{ reservation.last_name }}</h1>
                    <table class="table">
                        <thead>

                        </thead>
                        <tbody>
                        <tr>
                            <th>Kaina:</th>
                            <td>{{reservation.price}}</td>
                        </tr>
                        <tr>
                            <th>Dienų skaičius:</th>
                            <td>{{reservation.day_count}}</td>
                        </tr>
                        <tr>
                            <th>Nuo:</th>
                            <td>{{customFormatter(reservation.date_from)}}</td>
                        </tr>
                        <tr>
                            <th>Iki:</th>
                            <td>{{customFormatter(reservation.date_to)}}</td>
                        </tr>
                        <tr>
                            <th>Pasiėmimo vieta:</th>
                            <td>{{reservation.place_from}}</td>
                        </tr>
                        <tr>
                            <th>Grąžinimo vieta:</th>
                            <td>{{reservation.place_to}}</td>
                        </tr>
                        <tr>
                            <th>El. paštas:</th>
                            <td>{{reservation.email}}</td>
                        </tr>
                        <tr>
                            <th>Miestas:</th>
                            <td>{{reservation.city}}</td>
                        </tr>
                        <tr>
                            <th>Šalis:</th>
                            <td>{{reservation.country}}</td>
                        </tr>
                        <tr>
                            <th>Gimimo diena:</th>
                            <td>{{reservation.birthday}}</td>
                        </tr>
                        <tr>
                            <th>Adresas:</th>
                            <td>{{reservation.address}}</td>
                        </tr>
                        <tr>
                            <th>Telefono nr:</th>
                            <td>{{reservation.phone_nr}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                </div>
            </div>

        </div>
    </div>
</template>

<script>

    import Vue from 'vue';
    import axios from 'axios';

    export default {
        name: "reservation-information",

        data: () => ({

            reservation: [],

        }),

        created() {
            axios.get('/api/reservation/info/'+ this.$route.params.id)
                .then(({data}) => this.reservation = data)
                .then(response => {
                    console.log(response)
                })
                .catch(error => {
                    console.log(error.response)
                });
        },

        methods: {

            customFormatter(date) {
                return moment(date).format('YYYY MM DD');
            },
        }
    }
</script>

<style scoped>

</style>