<style>
    .image {
        margin-top: 40px;
        width: 320px;
        height: auto;
    }

    .color1 {
        background-color: #c9c9c9;
    }

    .color2 {
        background-color: #e3e3e3;
    }

    .color3 {
        background-color: #9ad3de
    }

    .color4 {
        background-color: #89bdd3
    }

    .title {
        background-color: #9ad3de;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        font-size: 20px;
        /*font-weight: bold;*/
        color: white;
    }

    .submit {
        margin-top: 10px;
        background-color: #e3e3e3;
        color: black;
        padding: 10px;
        border-radius: 2px;
    }

    .radio {
        margin-left: 20px;
    }
</style>

<template>
    <div class="container">
        <form @submit.prevent="add" @keydown="form.onKeydown($event)">
            <div class="col-md-12">

                <div class="row">
                    <span class="title">Automobilio informacija</span>
                </div>

                <div class="row">
                    <div class="col-md-4 ">
                        <h3>{{car.brand}} {{ car.model }}</h3>
                        <img class="image" :src="'/storage/' + car.img">
                    </div>

                    <div class="col-md-6">
                        <table class="table">
                            <thead>
                            </thead>
                            <tbody>
                            <tr>
                                <th>Dienos kaina</th>
                                <td>{{car.day_price}} €</td>
                            </tr>
                            <tr>
                                <th>Pavarų dėžė</th>
                                <td>{{car.gearbox}}</td>
                            </tr>
                            <tr>
                                <th>Degalų sanaudos (l/km)</th>
                                <td>{{car.consumption}}</td>
                            </tr>
                            <tr>
                                <th>Metai</th>
                                <td>{{car.years}}</td>
                            </tr>
                            <tr>
                                <th>Rida (km)</th>
                                <td>{{car.run}}</td>
                            </tr>
                            <tr>
                                <th>Kuro tipas</th>
                                <td>{{car.fuels}}</td>
                            </tr>
                            <tr>
                                <th>Spalva</th>
                                <td>{{car.color}}</td>
                            </tr>
                            <tr>
                                <th>Aprašymas</th>
                                <td>{{car.description}}</td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="row">
                    <span class="title">Rezervacijos informacija</span>
                </div>

                <div class="row">
                    <div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-sm-4 col-xl-4">
                                <div class="row form-group">
                                    <label title="take_from">Paėmimo vieta:</label>
                                    <select title="take_from" @change="changedSelectionFrom" v-model="placeFrom">
                                        <option v-for="option in options">{{option}}</option>
                                    </select>
                                </div>

                                <div class="row form-group">
                                    <label title="take_to">Grąžinimo vieta:</label>
                                    <select title="take_to" @change="changedSelectionTo" v-model="placeTo">
                                        <option v-for="option in options">{{option}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 col-xl-4">
                                <div class="row form-group">
                                    <label>Paėmimo laikas:</label>
                                    <datepicker
                                            language="lt"
                                            :disabled="state.disabled"
                                            :clear-button="true"
                                            :format="customFormatter"
                                            name="from"
                                            @selected="selectedDateFrom"/>
                                </div>

                                <div class="row form-group">
                                    <label>Grąžinimo laikas:</label>
                                    <datepicker
                                            :disabled="state.disabled"
                                            language="lt"
                                            :clear-button="true"
                                            :format="customFormatter"
                                            name="to"
                                            @selected="selectedDateTo"

                                    />
                                </div>
                            </div>
                            <div class="col-md-2">
                                Kaina:
                                <h4>{{ form.price }} €</h4>
                                <br>
                                Dienų skaičius:
                                <h4>{{selectedDaysCount}}</h4>


                            </div>


                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="row ">
                    <span class="title">Vairuotojo informacija</span>
                </div>
            </div>


            <div class="row col-md-12">
                <div class="col-md-2"></div>

                <div>
                    <!--<alert-success :form="form" :message="$t('successful!')"></alert-success>-->

                    <div class="col-md-6 col-sm-12 col-xl-12 ">
                        <!-- First Name -->
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Vardas</label>
                            <div class="col-md-8">
                                <input v-model="form.first_name" type="text" name="first_name" class="form-control"
                                       required>
                            </div>
                        </div>

                        <!-- Last Name -->
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Pavardė</label>
                            <div class="col-md-8">
                                <input v-model="form.last_name" type="text" name="last_name" class="form-control"
                                       required>
                            </div>
                        </div>

                        <!-- First Name -->
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">El. paštas</label>
                            <div class="col-md-8">
                                <input v-model="form.email" type="email" name="email" class="form-control" required>
                            </div>
                        </div>
                        <!-- Last Name -->
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Telefonas</label>
                            <div class="col-md-8">
                                <input v-model="form.phone_nr" type="number" name="phone_nr" class="form-control"
                                       required>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-12 col-xl-12">
                        <!-- First Name -->
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Adresas</label>
                            <div class="col-md-9">
                                <input v-model="form.address" type="text" name="address" class="form-control" required>
                            </div>
                        </div>

                        <!-- Last Name -->
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Miestas</label>
                            <div class="col-md-9">
                                <input v-model="form.city" type="text" name="city" class="form-control" required>
                            </div>
                        </div>
                        <!-- Last Name -->
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Šalis</label>
                            <div class="col-md-9">
                                <input v-model="form.country" type="text" name="country" class="form-control" required>
                            </div>
                        </div>
                        <!-- Last Name -->
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right">Gimimo diena</label>
                            <div class="col-md-9">
                                <input v-model="form.birthday" type="text" name="birthday" class="form-control"
                                       required>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div>

                <v-button type="button" >Patvirtinti užsakymą
                    <!--<div v-if="this.date_from !== '' &&  this.form.place_to !== '' &&-->
                    <!--this.form.date_from !== '' && this.form.date_to !== ''">-->
                        <router-link :to="'/'"/>
                    <!--</div>-->

                </v-button>

                <!--<router-link :to="'/'">-->
                <!--<button class="submit" type="success" :loading="form.busy >Patvirtinti užsakymą</button>-->
                <!--</router-link>-->

            </div>
        </form>
    </div>

</template>

<script>

    import axios from 'axios';
    import Form from 'vform';
    import vSelect from "vue-select"
    import Datepicker from 'vuejs-datepicker';

    export default {
        components: {
            Datepicker,
            vSelect
        },

        data: () => ({
            data: '',
            placeFrom: null,
            placeTo: null,
            options: [
                'Klaipėda, Naujojo Sodo G. 1',
                'Palangos oro uostas',
                'Kauno oro uostas',
                'Vilniaus oro uostas'
            ],


            form: new Form({
                date_from: '',
                date_to: '',
                place_from: '',
                place_to: '',

                first_name: '',
                last_name: '',
                email: '',
                city: '',
                country: '',
                birthday: '',
                address: '',
                phone_nr: '',

                price: 0,
                car_id: '',
                day_count: 0
            }),


            selectedFrom: null,
            selectedTo: null,
            car: [],
            selection: {start: Date.now(), end: Date.now()},
            selectedDaysCount: 0,
            canceled: false,
            state: {
                disabled: {
                    to: new Date(Date.now()), // Disable all dates up to specific date
                }
            },
        }),

        methods: {
            changedSelectionFrom() {
                this.form.place_from = this.placeFrom;
            },

            changedSelectionTo() {
                this.form.place_to = this.placeTo;
            },

            async add() {
                if (
                    this.form.place_from !== '' &&
                    this.form.place_to !== '' &&
                    this.form.date_from !== '' &&
                    this.form.date_to !== '') {

                    this.form.car_id = this.$route.params.id;
                    axios.post('/api/car/' + this.$route.params.id + '/reservation', this.form)
                        .then(response => {
                            console.log(response);
                            alert("Rezervacija sėkmingai atlikta. Su jumis bus susisiekta nurodytu el. paštu.");
                        })
                        .catch(error => {
                            console.log(error.response)
                        });

                } else {
                    alert("Pasirinkite paėmimo bei grąžinimo vietą ir laiką")
                }
            },

            customFormatter(date) {
                return moment(date).format('YYYY MM DD');
            },

            selectedDateFrom: function (n) {
                this.form.date_from = n;
                // this.form.date_from = this.customFormatter(n);
                // console.log(this.form.date_from);
                this.countDays();
                this.countPrice();
            },

            selectedDateTo: function (n) {
                // this.form.date_to = this.customFormatter(n);
                this.form.date_to = n;
                // console.log(this.form.date_to);
                this.countDays();
                this.countPrice();
            },
            countDays() {
                if (this.form.date_from && this.form.date_to) {
                    this.selectedDaysCount = (this.form.date_to - this.form.date_from) / (1000 * 60 * 60 * 24);
                    this.form.day_count = this.selectedDaysCount;
                    console.log(this.form.day_count);
                }
            },
            countPrice() {
                this.form.price = this.car.day_price * this.selectedDaysCount;
                console.log(this.form.price);
            }
        },

        created() {
            axios.get('/api/car/' + this.$route.params.id)
                .then(({data}) => this.car = data)
                .then(response => {
                    console.log(response)
                })
                .catch(error => {
                    console.log(error.response)
                });
        },
    }
</script>

<style scoped>

</style>