<style>
    .color1 {
        background-color: #c9c9c9;
    }

    .color2 {
        background-color: #e3e3e3;
    }

    .color3 {
        background-color: #9ad3de
    }

    .color4 {
        background-color: #89bdd3
    }
    /*  a.list-group-item {
          height:auto;
          min-height:220px;
      }
      a.list-group-item.active small {
          color:#fff;
      }*/
    .stars {
        margin: 20px auto 1px;
    }
</style>
<template>
    <div>
        <div class="top-right links">
            <template v-if="authenticated">
                <router-link :to="{ name: 'home' }">
                    {{ $t('home') }}
                </router-link>
            </template>
            <template v-else>
                <router-link :to="{ name: 'login' }">
                    {{ $t('login') }}
                </router-link>
                <router-link :to="{ name: 'register' }">
                    {{ $t('register') }}
                </router-link>
            </template>
        </div>

        <!--<div class="text-center">
            <div class="title mb-4">
                {{ title }}
            </div>

            <div class="links">
                <a href="https://laravel.com/docs">Documentation</a>
                <a href="https://laracasts.com">Laracasts</a>
                <a href="https://laravel-news.com">News</a>
                <a href="https://forge.laravel.com">Forge</a>
                <a href="https://github.com/laravel/laravel">GitHub</a>
            </div>
        </div>-->
        <div class="container">
            <div class="row">
                <div class="well">
                    <div class="list-group">

                        <div class="list-group-item">
                            <div class="col-md-3">
                                <figure class="pull-left">
                                    <img class="media-object img-rounded img-responsive"
                                         src="http://placehold.it/350x250" alt="placehold.it/350x250">
                                </figure>
                            </div>
                            <div class="col-md-3">
                                <h4 class="list-group-item-heading"> List group heading </h4>
                                <p class="list-group-item-text">
                                    Ut mea viris eripuit theophrastus, cu ponderum accusata consequuntur cum. Suas quaestio cotidieque pro ea. Nam nihil persecuti philosophia id, nam quot populo ea.
                                    Falli urbanitas ei pri, eu est enim volumus, mei no volutpat periculis. Est errem iudicabit cu. At usu vocibus officiis, ad ius eros tibique appellantur.
                                </p>
                            </div>
                            <div class="col-md-3 text-center">
                                <h2> 13540
                                    <small> votes </small>
                                </h2>
                                <button type="button" class="btn btn-primary btn-lg btn-block">Vote Now!</button>
                                <div class="stars">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </div>
                                <p> Average 4.1
                                    <small> / </small>
                                    5
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        layout: 'default',

        metaInfo() {
            return {title: this.$t('home')}
        },

        computed: mapGetters({
            authenticated: 'authCheck'
        }),

        data: () => ({
            title: window.config.appName
        })
    }
</script>

<style scoped>
    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }

    .title {
        font-size: 85px;
    }
</style>