<template>
    <div class="row">
        <div class="col-lg-8 m-auto">
            <card :title="$t('login')">
                <form @submit.prevent="login" @keydown="form.onKeydown($event)">
                    <!-- Email -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">El. Paštas<!--{{ $t('email') }}--></label>
                        <div class="col-md-7">
                            <input v-model="form.email" type="email" name="email" class="form-control"
                                   :class="{ 'is-invalid': form.errors.has('email') }">
                            <has-error :form="form" field="email"/>
                        </div>
                    </div>

                    <!-- Password -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">Slaptažodis
                            <!--{{ $t('password') }}--></label>
                        <div class="col-md-7">
                            <input v-model="form.password" type="password" name="password" class="form-control"
                                   :class="{ 'is-invalid': form.errors.has('password') }">
                            <has-error :form="form" field="password"/>
                        </div>
                    </div>

                    <!-- Remember Me -->
                    <div class="form-group row">
                        <div class="col-md-3"></div>
                        <div class="col-md-7">
                            <router-link :to="{ name: 'password.request' }" class="float-right small">
                                Pamiršote slaptažodį?<!--{{ $t('forgot_password') }}-->
                            </router-link>

                            <checkbox v-model="remember">Prisiminti mane<!--{{ $t('remember_me') }}--></checkbox>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group row">
                        <div class="col-md-9 ml-md-auto">
                            <v-button :loading="form.busy">Prisijungti<!--{{ $t('login') }}--></v-button>
                        </div>
                    </div>
                </form>
            </card>
        </div>
    </div>
</template>

<script>
    import Form from 'vform'

    export default {
        metaInfo() {
            return {title: this.$t('login')}
        },

        data: () => ({
            form: new Form({
                email: '',
                password: ''
            }),
            remember: false
        }),

        methods: {
            async login() {
                // Submit the form.
                const {data} = await this.form.post('/api/login')


                // Save the token.
                this.$store.dispatch('saveToken', {
                    token: data.token,
                    remember: this.remember
                })

                // Fetch the user.
                await this.$store.dispatch('fetchUser')

                // Redirect home.
                this.$router.push({name: 'settings.profile'})
            }
        }
    }
</script>
