<template>
    <div class="row">
        <div class="col-lg-8 m-auto">
            <card :title="$t('register')">
                <form @submit.prevent="register" @keydown="form.onKeydown($event)">
                    <!-- Name -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">Vardas</label>
                        <div class="col-md-7">
                            <input v-model="form.name" type="text" name="name" class="form-control"
                                   :class="{ 'is-invalid': form.errors.has('name') }">
                            <has-error :form="form" field="name"/>
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">El. Paštas<!--{{ $t('email') }}--></label>
                        <div class="col-md-7">
                            <input v-model="form.email" type="email" name="email" class="form-control"
                                   :class="{ 'is-invalid': form.errors.has('email') }">
                            <has-error :form="form" field="email"/>
                        </div>
                    </div>

                    <!-- Password -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">Slaptažodis<!--{{ $t('password') }}--></label>
                        <div class="col-md-7">
                            <input v-model="form.password" type="password" name="password" class="form-control"
                                   :class="{ 'is-invalid': form.errors.has('password') }">
                            <has-error :form="form" field="password"/>
                        </div>
                    </div>

                    <!-- Password Confirmation -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">Pakartoti slaptažodį<!--{{ $t('confirm_password') }}--></label>
                        <div class="col-md-7">
                            <input v-model="form.password_confirmation" type="password" name="password_confirmation"
                                   class="form-control"
                                   :class="{ 'is-invalid': form.errors.has('password_confirmation') }">
                            <has-error :form="form" field="password_confirmation"/>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group row">
                        <div class="col-md-9 ml-md-auto">
                            <v-button :loading="form.busy">Registruotis<!--{{ $t('register') }}--></v-button>
                        </div>
                    </div>
                </form>
            </card>
        </div>
    </div>
</template>

<script>
    import Form from 'vform'

    export default {
        metaInfo() {
            return {title: this.$t('register')}
        },

        data: () => ({
            form: new Form({
                name: '',
                email: '',
                password: '',
                password_confirmation: ''
            })
        }),

        methods: {
            async register() {
                // Register the user.
                const {data} = await this.form.post('/api/register')

                // Log in the user.
                const {data: {token}} = await this.form.post('/api/login')

                // Save the token.
                this.$store.dispatch('saveToken', {token})

                // Update the user.
                await this.$store.dispatch('updateUser', {user: data})

                // Redirect home.
                this.$router.push({name: 'settings.profile'})
            }
        }
    }
</script>
