<style>
    img {
        width: 30%;
        margin: auto;
        display: block;
        margin-bottom: 10px;
    }
    button {

    }
</style>

<template>
    <card :title="$t('cars_spec')">
        <form @submit.prevent="add" @keydown="form.onKeydown($event)">
            <alert-success :form="form" :message="$t('successful!')"/>

            <!-- Brand -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('brand') }}</label>
                <div class="col-md-7">
                    <!--<input v-model="form.brand" type="text" name="brand" class="form-control">-->
                    <v-select :value.sync="selected" :options="options.brand"/>
                </div>
            </div>

            <!-- Model -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('model') }}</label>
                <div class="col-md-7">
                    <!--<input v-model="form.model" type="text" name="model" class="form-control">-->
                    <v-select :value.sync="selected" :options="options.model"/>
                </div>
            </div>
            <!-- gearbox -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('gearbox') }}</label>
                <div class="col-md-7">
                    <!--<input v-model="form.gearbox" type="text" name="gearbox" class="form-control">-->
                    <v-select :value.sync="selected" :options="options.gearbox"/>
                </div>
            </div>
            <!-- color -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('color') }}</label>
                <div class="col-md-7">
                    <input v-model="form.color" type="text" name="color" class="form-control">
                </div>
            </div>

            <!-- fuels -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('fuels') }}</label>
                <div class="col-md-7">
                    <!--<input v-model="form.fuels" type="text" name="fuels" class="form-control">-->
                    <v-select :value.sync="selected" :options="options.fuels"/>
                </div>

            </div>
            <!-- years -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('years') }}</label>
                <div class="col-md-7">
                    <input v-model="form.years" type="number" name="years" class="form-control">
                </div>
            </div>
            <!-- consumption -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('consumption') }} (l/km)</label>
                <div class="col-md-7">
                    <input v-model="form.consumption" type="number" name="consumption" class="form-control">
                </div>
            </div>
            <!-- rida -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('rida') }} (km)</label>
                <div class="col-md-7">
                    <input v-model="form.rida" type="number" name="rida" class="form-control">
                </div>
            </div>
            <!-- description -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('description') }}</label>
                <div class="col-md-7">
                    <input v-model="form.description" type="text" name="description" class="form-control">
                </div>
            </div>
            <!-- drag and drop -->
            <div class="form-group row">
                <picture-input
                        name="photos[]"
                        ref="pictureInput"
                        @change="onChange"
                        width="300"
                        height="300"
                        margin="16"
                        accept="image/jpeg,image/png,image/gif"
                        size="2"
                        buttonClass="btn"
                        :removable="true"
                        :customStrings="{
                                         upload: '<h1>Bummer!</h1>',
                                         drag: 'Drag and Drop or Select'
                        }">
                </picture-input>
            </div>


            <!-- day_price -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('day_price') }} (€)</label>
                <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3">
                    <input v-model="form.day_price" type="number" name="day_price" class="form-control">
                </div>
                <!--car price-->

            </div>
            <!-- car_price -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('car_price') }} (€)</label>
                <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3">
                    <input v-model="form.car_price" type="number" name="car_price" class="form-control">
                </div>
            </div>
            <!-- Submit Button -->
            <div class="form-group row">
                <div class="col-md-9 ml-md-auto">
                    <v-button type="success" :loading="form.busy">{{ $t('add') }}</v-button>
                </div>
            </div>

        </form>
    </card>
</template>

<script>
    import Input from '~/components/Input'
    import Form from 'vform'
    import {mapGetters} from 'vuex'
    import vSelect from "vue-select"
    import PictureInput from 'vue-picture-input'
    import axios from 'axios'

    /*import VuejsDialog from "vuejs-dialog" /!*dialogo langai*!/
    Vue.use(VuejsDialog); /!*instaliuoti dialogu plugina*!/*/


    export default {
        components: {
            vSelect,
            PictureInput,
            'input-form': Input
        },

        data: () => ({

            tmpImg: '',
            image: '',
            selected: null,
            options: {
                brand: [
                    'Acura',
                    'Audi',
                    'Bentely',
                    'BMW',
                    'Buick',
                    'Cadillac',
                    'Chevrolet',
                    'Chrystler',
                    'Dodge',
                    'Fiat',
                    'Nissan',
                    'Ford',
                    'Honda',
                    'Porsche',
                    'Smart'
                ],
                gearbox: [
                    'Automatic',
                    'Manual',
                ],
                fuels: [
                    'Benzinas',
                    'Dizelis',
                    'Dujos',
                    'Elektra'
                ],
                model: [
                    'Civic',
                    'Accord',
                    'Camry',
                    'F-150',
                    'Wrangler',
                ]
            },

            form: new Form({
                brand: '',
                model: '',
                day_price: null,
                car_price: null,
                fuels: '',
                gearbox: '',
                color: '',
                years: null,
                consumption: null,
                run: null,
                description: '',
                img: '',

            })
        }),

        methods: {
            async add() {
                this.form.post('/api/settings/add', this.form)
                    .then((response) => {
                        console.log('response', response);
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },

//                <<<-  drag and drop  ->>>
            onChange() {
                console.log('New picture selected!');
                if (this.$refs.pictureInput.image) {
                    console.log('Picture loaded.');
                    const formData = new FormData();
                    formData.append('file', this.$refs.pictureInput.file);
                    /*  <<- upload Photo ->>  */
                    axios.post('/api/settings/add/uploadfile', formData)
                        .then((response) => {
                            /*  <<- Give name to img variable ->>  */
                            this.form.img = response.data;
                            console.log('response', response);
                        })
                        .catch(err => console.log(err));
                    console.log(this.$refs.pictureInput)
                } else {
                    console.log('FileReader API not supported: use the <form>, Luke!')
                }

            }
        }
    }
</script>
