<style>

    .thumbnail {
        position: relative;
        padding: 0px;
        margin-bottom: 20px;
    }

    .thumbnail img {
        width: 100%;
    }
</style>

<template>

    <card :title="'Automobilio informacija'">
        <form @submit.prevent="update" @keydown="form.onKeydown($event)">
            <alert-success :form="form" :message="'Sėkmingai atnaujinta'"/>

            <!-- Brand -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Markė</label>
                <div class="col-md-7">
                    <!--<input v-model="form.brand" type="text" name="brand" class="form-control">-->
                    <v-select :value.sync="selected" v-model="form.brand" :options="options.brand"/>
                </div>
            </div>

            <!-- Model -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Modelis</label>
                <div class="col-md-7">
                    <!--<input v-model="form.model" type="text" name="model" class="form-control">-->
                    <v-select :value.sync="selected" v-model="form.model" :options="options.model"/>
                </div>
            </div>
            <!-- gearbox -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Pavarų dėžė</label>
                <div class="col-md-7">
                    <!--<input v-model="form.gearbox" type="text" name="gearbox" class="form-control">-->
                    <v-select :value.sync="selected" v-model="form.gearbox" :options="options.gearbox"/>
                </div>
            </div>
            <!-- color -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Spalva</label>
                <div class="col-md-7">
                    <input v-model="form.color" type="text" name="color" class="form-control">
                </div>
            </div>

            <!-- fuels -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Kuras</label>
                <div class="col-md-7">
                    <!--<input v-model="form.fuels" type="text" name="fuels" class="form-control">-->
                    <v-select :value.sync="selected" v-model="form.fuels" :options="options.fuels"/>
                </div>

            </div>
            <!-- years -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Metai</label>
                <div class="col-md-7">
                    <input v-model="form.years" type="number" name="years" class="form-control">
                </div>
            </div>
            <!-- consumption -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Sąnaudos (l/km)</label>
                <div class="col-md-7">
                    <input v-model="form.consumption" type="number" name="consumption" class="form-control">
                </div>
            </div>
            <!-- rida -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Rida (km)</label>
                <div class="col-md-7">
                    <input v-model="form.run" type="number" name="rida" class="form-control">
                </div>
            </div>
            <!-- description -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Aprašymas</label>
                <div class="col-md-7">
                    <input v-model="form.description" type="text" name="description" class="form-control">
                </div>
            </div>
            <!-- drag and drop -->
            <div class="form-group row">
                <picture-input
                        name="photos[]"
                        ref="pictureInput"
                        @change="onChange"
                        width="320"
                        height="240"
                        margin="16"
                        accept="image/jpeg,image/png,image/gif"
                        size="2"
                        buttonClass="btn"
                        :removable="true"

                        :customStrings="{
                                         upload: '<h1></h1>',
                                         drag: 'Drag and Drop or Select'
                        }">
                </picture-input>
            </div>


            <!-- day_price -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Dienos kaina (€)</label>
                <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3">
                    <input v-model="form.day_price" type="number" name="day_price" class="form-control">
                </div>
                <!--car price-->

            </div>
            <!-- car_price -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Automobilio kaina (€)</label>
                <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3">
                    <input v-model="form.car_price" type="number" name="car_price" class="form-control">
                </div>
            </div>

            <!-- Update Button -->
            <div class="form-group row">
                <div class="col-md-9 ml-md-auto">
                    <v-button type="success" :loading="form.busy">Atnaujinti</v-button>
                </div>
            </div>
        </form>
    </card>

</template>
<script>
    import Vue from 'vue';
    import Form from 'vform'
    import axios from 'axios';
    import vueResource from 'vue-resource';
    import {mapGetters} from 'vuex';

    import vSelect from "vue-select";
    import PictureInput from 'vue-picture-input';


    Vue.use(vueResource);

    export default {

        components: {
            vSelect,
            PictureInput
        },

        data: () => ({
            image: '',
            selected: null,
            options: {
                brand: [
                    'Acura',
                    'Audi',
                    'Bentely',
                    'BMW',
                    'Buick',
                    'Cadillac',
                    'Chevrolet',
                    'Chrystler',
                    'Dodge',
                    'Fiat',
                    'Nissan',
                    'Ford',
                    'Honda',
                    'Porsche',
                    'Smart'
                ],
                gearbox: [
                    'Automatic',
                    'Manual',
                ],
                fuels: [
                    'Benzinas',
                    'Dizelis',
                    'Dujos',
                    'Elektra'
                ],
                model: [
                    'Civic',
                    'Accord',
                    'Camry',
                    'F-150',
                    'Wrangler',
                ]
            },
            form: new Form({
                brand: '',
                model: '',
                day_price: null,
                car_price: null,
                fuels: '',
                gearbox: '',
                color: '',
                years: null,
                consumption: null,
                run: null,
                description: '',
                img: ''
            })
        }),


        created() {
            /*  <<- ikeliamas dabartinis paveikslelio pavadinimas ->>  */
//            this.form.img = this.tmpImg;
            axios.get('/api/settings/edit/' + this.$route.params.id)
                .then(({data}) => {
                    this.car = data;
                    console.log(data);

                    this.form.keys().forEach(key => {
                        this.form[key] = data[key]
                    })
                })
        },

        methods: {
            async update() {
                /* <<- Form update ->> */
                this.form.patch('/api/settings/edit/' + this.$route.params.id, this.form)
                    .then((response) => {
                        console.log('response', response);
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },

            onCreateImage() {
            },
//                <<<-  drag and drop  ->>>
            onChange() {
                console.log('New picture selected!');
                if (this.$refs.pictureInput.image) {
                    console.log('Picture loaded.');
                    const formData = new FormData();
                    formData.append('file', this.$refs.pictureInput.file);
                    /* << Photo upload >>*/
                    axios.post('/api/settings/add/uploadfile', formData)
                        .then((response) => {
                            this.form.img = response.data;
                            console.log('response', response);
                        })
                        .catch(err => console.log(err));
                    console.log(this.$refs.pictureInput)
                } else {
                    console.log('FileReader API not supported: use the <form>, Luke!')
                }
            }
        }
    }
</script>