<style>

    .color1 {
        background-color: #c9c9c9;
    }

    .color2 {
        background-color: #e3e3e3;
    }

    .color3 {
        background-color: #9ad3de
    }

    .color4 {
        background-color: #89bdd3
    }
</style>
<template>
    <div class="container">


    <div class="row">
        <div class="col-md-3">
            <card :title="navigation" class="settings-card">
                <ul class="nav flex-column nav-pills">
                    <li v-for="tab in tabs" class="nav-item">
                        <router-link :to="{ name: tab.route }" class="nav-link" active-class="active">
                            <!--<icon :name="tab.icon"></icon>-->
                            {{ tab.name }}
                        </router-link>
                    </li>
                </ul>
            </card>
        </div>

        <div class="col-md-9">
            <transition name="fade" mode="out-in">
                <router-view></router-view>
            </transition>
        </div>
    </div>
    </div>
</template>

<script>
    export default {

        loading: false,

        data() {
            return {
                navigation: 'Navigacija:',
                tabs: [
                    {
                        // icon: 'add',
                        name: 'Rezervacijos',
                        route: 'settings.order'
                    },
                    {
                        // icon: 'overview',
                        name: 'Automobiliai',
                        route: 'settings.overview'
                    },
                    {
                        // icon: 'add',
                        name: 'Prideti naują',
                        route: 'settings.add'
                    },

                    {
                        // icon: 'user',
                        name: 'Profilis',
                        route: 'settings.profile'
                    },
                    {
                        // icon: 'lock',
                        name: 'Slaptažodis',
                        route: 'settings.password'
                    }
                ]
            }
        }
    }
</script>

<style>
    .settings-card .card-body {
        padding: 0;
    }
</style>
