<template>
    <div class="container">

        <div class="row color3 col-md-9">
            <h5>Iš viso: {{ total }} </h5>
        </div>

        <!--<div v-if="reservations.status !== null">-->
        <!--{{ reservations }}-->
        <div class="row col-md-9 list-group-item" v-for="r in reservations">


            <div v-if="r.status === 'pending'">
                <div class="col-md-12 alert-info">{{ $t('pending')}}</div>
            </div>
            <div v-else-if="r.status === 'active'">
                <div class="col-md-12 alert-success">{{ $t('active')}}</div>
            </div>
            <div v-else-if="r.status === 'completed'">
                <div class="col-md-12 alert-warning">{{ $t('completed')}}</div>
            </div>

            <div class="col-md-12 ">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="list-group-item-heading">ID: {{ r.id }} </h4>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-5  col-xs-12">
                        <table class="w3-table-all">
                            <tbody>

                            <tr>
                                <td>Nuo</td>
                                <th>{{customFormatter(r.date_from)}}</th>
                            </tr>
                            <tr>
                                <td>Iki:</td>
                                <th>{{customFormatter(r.date_to)}}</th>
                            </tr>

                            <tr>
                                <td>Pasiėmimo vieta:</td>
                                <th>{{r.place_from}}</th>
                            </tr>
                            <tr>
                                <td>Grąžinimo vieta:</td>
                                <th>{{r.place_to}}</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-5 col-xs-12">
                        <table class="w3-table-all ">
                            <tbody>
                            <tr>
                                <td>Automobilio id:</td>
                                <th>{{ r.car_id }}</th>
                            </tr>
                            <tr>
                                <td>{{ $t('name')}}:</td>
                                <th>{{ r.first_name }} {{ r.last_name }}</th>
                            </tr>

                            <tr>
                                <td>Telefono nr:</td>
                                <th>{{r.phone_nr}}</th>
                            </tr>

                            <tr>
                                <td>El. paštas:</td>
                                <th>{{r.email}}</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class=" col-md-2 col-xs-12">
                        <table class="w3-table-all ">
                            <tbody>
                            <router-link :to="'order/'+ r.id" class="btn btn-info btn-md">{{ $t('edit')}}</router-link>
                            <router-link :to="'order'"
                                         v-confirm="{loader: true, ok: deleteItem(r.id), message: 'Delete this reservation?'}"
                                         class="btn btn-danger btn-md "><a role="button">{{ $t('delete')}}</a></router-link>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="row col-md-12">
            <vue-paginate-al :currentPage="page" :totalPage="totalPages" :perPage="perPage" :myData="reservations"
                             @btnClick="goToFuncWithData"
                             nextText="Toliau"
                             prevText="Atgal"/>

        </div>


    </div>

</template>
<script>
    import Vue from 'vue';
    import axios from 'axios';
    import vueResource from 'vue-resource';

    import VuejsDialog from "vuejs-dialog"

    import VuePaginateAl from 'vue-paginate-al';

    Vue.component('vue-paginate-al', VuePaginateAl);

    Vue.use(VuejsDialog, {});
    Vue.use(vueResource);

    export default {

        components: {

            VuePaginateAl
        },

        data() {
            return {

                page: 1,
                totalPages: 1,
                perPage: 0,
                total: 0,

                newStatus: '',
                selected: '',
                options: [
                    {text: 'Laukiama', value: 'pending'},
                    {text: 'Aktyvus', value: 'active'},
                    {text: 'Užbaigtas', value: 'completed'}
                ],

                reservations: []
            }
        },

        created() {
            this.getReservations();
        },

        methods: {
            deleteItem: function (item) {
                return dialog => this.serverDeleteItem(item, dialog)
            },
            serverDeleteItem: function (item, dialog) {
                this.deleteReservation(item);
                this.getReservations();
                setTimeout(() => {
                    dialog.close();
                    console.log(item)
                }, 1000)
            },
            deleteReservation(id) {
                axios.delete('/api/settings/reservation/' + id)
                    .then((response) => {
                        console.log('response', response);
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },

            getReservations() {
                const options = {
                    params: {
                        page: this.page,
                    }
                };

                axios.get('/api/settings/reservations', options)
                    .then(({data}) => {
                        console.log(data);
                        this.reservations = data.data;
                        this.totalPages = data.last_page;
                        this.perPage = data.per_page;
                        this.total = data.total;
                    })
                    .then((response) => {
                        console.log('response', response);

                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            goToFuncWithData: function (n) {
                this.page = n;
                this.getReservations();
            },
            customFormatter(date) {
                return moment(date).format('YYYY MM DD');
            },
        }
    }
</script>