<style>
    .thumbnail {
        position: relative;
        padding: 0px;
        margin-bottom: 20px;
    }

    .thumbnail img {
        width: 320px;
        height: 240px;
    }

    .inrows {
        display: inline-block;
    }

</style>

<template>

    <!--list cars-->
    <div class="container">

        <!--if no cars found-->
        <div class="row color3 col-md-9">
            <h5>Iš viso: {{ total }} </h5>
        </div>

        <div class="row col-md-9 list-group-item" v-for="car in cars">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                <figure class="pull-left">
                    <router-link :to="'edit/' + car.id ">
                        <img class="col-md-12" :src="'/storage/' + car.img " width="320"
                             height="auto">
                    </router-link>
                    <!--<div>{{'../storage/'}}</div>-->
                </figure>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                <h4 class="list-group-item-heading">ID: {{ car.id }}, {{ car.brand }} {{ car.model }}  </h4>
                <div class="row">
                    <div class="col-xs-12  col-md-5 col-lg-5">
                        <table class="w3-table-all">
                            <tbody>
                            <tr>
                                <td>kaina:</td>
                                <th>{{car.day_price}} €</th>
                            </tr>
                            <tr>
                                <td>{{ $t('car_price') }}:</td>
                                <th>{{car.car_price}} €</th>
                            </tr>

                            <tr>
                                <td>{{ $t('gearbox') }}:</td>
                                <th>{{car.gearbox}}</th>
                            </tr>
                            <tr>
                                <td>{{ $t('consumption') }}:</td>
                                <th>{{car.consumption}} l/km</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12  col-md-5 col-lg-5">
                        <table class="w3-table-all ">
                            <tbody>
                            <tr>
                                <td>{{ $t('year') }}:</td>
                                <th>{{car.years}}</th>
                            </tr>
                            <tr>
                                <td>{{ $t('rida') }}:</td>
                                <th>{{car.run}} km</th>
                            </tr>
                            <tr>
                                <td>{{ $t('fuels') }}:</td>
                                <th>{{car.fuels}}</th>
                            </tr>
                            <tr>
                                <td>{{ $t('color') }}:</td>
                                <th>{{car.color}}</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12  col-md-2 col-md-2 align-center">

                        <!-- BUG: after deleting one item, all bellow car.id does not refreshes (stays the same) repeated deletion causes 404 -->
                        <router-link :to="'edit/' + car.id " class="btn btn-info btn-md ">{{ $t('edit') }}</router-link>
                        <router-link :to="'overview'"
                                     v-confirm="{loader: true, ok: deleteItem(car.id), message: 'Pašalinti ID: ' +car.id+' įrašą?'}"
                                     class="btn btn-danger btn-md "><a role="button">{{ $t('delete') }}</a></router-link>
                    </div>
                </div>
            </div>



        </div>
        <div class="row col-md-12">
            <vue-paginate-al :currentPage="page" :totalPage="totalPages" :perPage="perPage" :myData="cars"
                             @btnClick="goToFuncWithData"
                             nextText="Toliau"
                             prevText="Atgal"/>

        </div>
    </div>
</template>
<script>

    import Vue from 'vue';
    import axios from 'axios';
    import vueResource from 'vue-resource';

    import VuejsDialog from "vuejs-dialog"

    import VuePaginateAl from 'vue-paginate-al';
    Vue.component('vue-paginate-al', VuePaginateAl);

    Vue.use(VuejsDialog, {});
    Vue.use(vueResource);

    export default {

        components: {
            VuePaginateAl
        },
        data() {
            return {
                page: 1,
                totalPages: 1,
                perPage: 0,
                total: 0,

                cars: []
            }
        },

        created() {
            this.getCars();
        },

        methods: {
            deleteItem: function (item) {
                return dialog => this.serverDeleteItem(item, dialog)
            },

            serverDeleteItem: function (item, dialog) {
                // this.$forceUpdate();

                this.deleteCar(item);
                this.getCars();


                // this.$set(item, this.car.id);
                // this.$forceUpdate(item);

                setTimeout(() => {
                    dialog.close();
                    console.log(item)
                }, 1000)
            },

            deleteCar(id) {
                axios.delete('/api/settings/overview/' + id)
                    .then((response) => {
                        console.log('response', response);
                    })
                    .catch(error => {
                        console.log(error);
                    });

                // vm.$set('varName', this.car.id);
                // vm.$forceUpdate();
            },

            goToFuncWithData: function (n) {
                this.page = n;
                this.getCars();
            },
            getCars() {
                const options = {
                    params: {
                        page: this.page,
                    }
                };
                axios.get('/api/settings/overview', options)
                    .then(({data}) => {
                        this.cars = data.data;
                        this.totalPages = data.last_page;
                        this.perPage = data.per_page;
                        this.total = data.total;
                    })
                    .then((response) => {
                        console.log('response', response);
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },

            onError(e) {
                let defaultURL = 'http://placehold.it/120x120&text=default';
                if (e.target.src !== defaultURL) {
                    e.target.src = defaultURL;
                }
            },

            imgUrl() {
                return this.cars.img;
            }
        }
    }
</script>