<template>
    <card :title="$t('your_password')">
        <form @submit.prevent="update" @keydown="form.onKeydown($event)">
            <alert-success :form="form" :message="$t('password_updated')"></alert-success>

            <!-- Password -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('new_password') }}</label>
                <div class="col-md-7">
                    <input v-model="form.password" type="password" name="password" class="form-control"
                           :class="{ 'is-invalid': form.errors.has('password') }">
                    <has-error :form="form" field="password"></has-error>
                </div>
            </div>

            <!-- Password Confirmation -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">{{ $t('confirm_password') }}</label>
                <div class="col-md-7">
                    <input v-model="form.password_confirmation" type="password" name="password_confirmation"
                           class="form-control"
                           :class="{ 'is-invalid': form.errors.has('password_confirmation') }">
                    <has-error :form="form" field="password_confirmation"></has-error>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="form-group row">
                <div class="col-md-9 ml-md-auto">
                    <v-button type="success" :loading="form.busy">{{ $t('update') }}</v-button>
                </div>
            </div>
        </form>
    </card>
</template>

<script>
    import Form from 'vform'

    export default {
        data: () => ({
            form: new Form({
                password: '',
                password_confirmation: ''
            })
        }),

        methods: {
            async update() {
                await this.form.patch('/api/settings/password')

                this.form.reset()
            }
        }
    }
</script>
