<style>

    .thumbnail {
        position: relative;
        padding: 0px;
        margin-bottom: 20px;
    }

    .thumbnail img {
        width: 100%;
    }
</style>

<template>

    <card :title="'Rezervacijos informacija'">
        <form @submit.prevent="update" @keydown="form.onKeydown($event)">
            <alert-success :form="form" :message="'Sėkmingai atnaujinta'"></alert-success>

            <!-- Brand -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Vardas</label>
                <div class="col-md-7">
                    <input v-model="form.first_name" type="text" name="first_name" class="form-control" required>
                </div>
            </div>

            <!-- Model -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Pavardė</label>
                <div class="col-md-7">
                    <input v-model="form.last_name" type="text" name="last_name" class="form-control" required>
                    <!--<v-select :value.sync="selected" v-model="form.model" :options="options.model"></v-select>-->
                </div>
            </div>
            <!-- gearbox -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Paėmimo vieta</label>
                <div class="col-md-7">
                    <input v-model="form.place_from" type="text" name="place_from" class="form-control" required>
                    <!--<v-select :value.sync="selected" v-model="form.gearbox" :options="options.gearbox"></v-select>-->
                </div>
            </div>
            <!-- color -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Grąžinimo vieta</label>
                <div class="col-md-7">
                    <input v-model="form.place_to" type="text" name="place_to" class="form-control" required>
                </div>
            </div>

            <!-- fuels -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Paėmimo diena</label>
                <div class="col-md-7">
                    <input v-model="form.date_from" type="text" name="date_from" class="form-control" required>
                    <!--<v-select :value.sync="selected" v-model="form.fuels" :options="options.fuels"></v-select>-->
                </div>

            </div>
            <!-- years -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Grąžinimo diena</label>
                <div class="col-md-7">
                    <input v-model="form.date_to" type="text" name="date_to" class="form-control" required>
                </div>
            </div>

            <!-- fuels -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Tel. nr.</label>
                <div class="col-md-7">
                    <input v-model="form.phone_nr" type="text" name="phone_nr" class="form-control" required>
                    <!--<v-select :value.sync="selected" v-model="form.fuels" :options="options.fuels"></v-select>-->
                </div>

            </div>
            <!-- years -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Adresas</label>
                <div class="col-md-7">
                    <input v-model="form.address" type="text" name="address" class="form-control" required>
                </div>
            </div>
            <!-- fuels -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Gimtadienis</label>
                <div class="col-md-7">
                    <input v-model="form.birthday" type="text" name="birthday" class="form-control" required>
                    <!--<v-select :value.sync="selected" v-model="form.fuels" :options="options.fuels"></v-select>-->
                </div>

            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Šalis</label>
                <div class="col-md-7">
                    <input v-model="form.country" type="text" name="datecountry_from" class="form-control" required>
                    <!--<v-select :value.sync="selected" v-model="form.fuels" :options="options.fuels"></v-select>-->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Miestas</label>
                <div class="col-md-7">
                    <input v-model="form.city" type="text" name="city" class="form-control" required>
                </div>
            </div>
            <!-- fuels -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">El. paštas</label>
                <div class="col-md-7">
                    <input v-model="form.email" type="email" name="email" class="form-control" required>
                    <!--<v-select :value.sync="selected" v-model="form.fuels" :options="options.fuels"></v-select>-->
                </div>

            </div>
            <!-- years -->
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Kaina</label>
                <div class="col-md-7">
                    <input v-model="form.price" type="text" name="price" class="form-control" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Automobilio id</label>
                <div class="col-md-7">
                    <input v-model="form.car_id" type="number" name="car_id" class="form-control" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label text-md-right">Statusas</label>
                <div class="col-md-7">
                    <v-select :value.sync="form.status" v-model="form.status" :options="status"/>
                </div>
            </div>
            <!-- Update Button -->
            <div class="form-group row">
                <div class="col-md-9 ml-md-auto">
                    <v-button type="success" :loading="form.busy">Atnaujinti</v-button>
                </div>
            </div>
        </form>
    </card>

</template>
<script>

    import Form from 'vform'
    import axios from 'axios';

    import vSelect from "vue-select";

    export default {

        components: {
            vSelect,
        },

        data: () => ({

            selected: null,
            status: [
                'Pending',
                'Active',
                'Completed',
            ],
            form: new Form({
                place_from: '',
                place_to: '',
                date_from: '',
                date_to: '',
                first_name: '',
                last_name: '',
                price: null,
                email: '',
                city: '',
                country: '',
                birthday: '',
                car_id: null,
                day_count: null,
                status: null,
                address: '',
                phone_nr: null,

            })
        }),


        created() {
            /*  <<- ikeliamas dabartinis paveikslelio pavadinimas ->>  */
//            this.form.img = this.tmpImg;
            axios.get('/api/settings/order/' + this.$route.params.id)
                .then(({data}) => {
                    // this.car = data;
                    console.log(data);

                    this.form.keys().forEach(key => {
                        this.form[key] = data[key]
                    })
                })
        },

        methods: {
            async update() {
                /* <<- Form update ->> */
                this.form.patch('/api/settings/order/' + this.$route.params.id, this.form)
                    .then((response) => {
                        console.log('response', response);
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },

            onCreateImage() {
            },
//
        }
    }
</script>