<template>
    <div style="height: 100%; width: 100% " class="app-layout ">
        <!--<div class="row"></div>-->

        <div class="color4">
            <navbar/>
        </div>


        <div style="margin-left: 20px">
            <child/>
        </div>

        <div>
            <footer>
                <div style="margin-top: 10px">
                    <div class="navbar navbar-default color4">
                        <div class="container " style="font-size: .8em">
                            <p class="navbar-text">
                                &copy; Autonuoma
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div>
</template>

<script>
    import Footer from '~/components/Footer'
    import Navbar from '~/components/Navbar'

    export default {
        name: 'app-layout',

        components: {
            Navbar,
            'myfooter': Footer
        }
    }
</script>
<styles>
    .color1 {
    background-color: #c9c9c9;
    }
    .color2 {
    background-color: #e3e3e3;
    }
    .color3 {
    background-color: #9ad3de
    }
    .color4 {
    background-color: #618685
    }
</styles>